*{
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body{
  height: 100vh;
  width: 100vw;
  background: linear-gradient(90deg, rgb(179, 18, 55) 0%, rgb(240, 56, 19) 100%);
}

.quadro{
  display: grid;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

.quadro.x .casa:not(.x):not(.circulo):hover::after,
.quadro.x .casa:not(.x):not(.circulo):hover::before,
.quadro.circulo .casa:not(.x):not(.circulo):hover::after,
.quadro.x .casa:not(.x):not(.circulo):hover::before {
  background: rgba(255, 255, 255, 0.3) !important;
}

/* casa do Quadro */
.casa{
  width: 100px;
  height: 100px;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.casa.x,
.casa.circulo {
  cursor: not-allowed;
}

.casa:nth-child(1),
.casa:nth-child(2),
.casa:nth-child(3) {
  border-top: none;
}

.casa:nth-child(1),
.casa:nth-child(4),
.casa:nth-child(7) {
  border-left: none;
}

.casa:nth-child(3),
.casa:nth-child(6),
.casa:nth-child(9) {
  border-right: none;
}

.casa:nth-child(7),
.casa:nth-child(8),
.casa:nth-child(9) {
  border-bottom : none;
}

/* x */

.casa.x::before,
.casa.x::after,
.quadro.x .casa:not(.x):not(.circulo):hover::after,
.quadro.x .casa:not(.x):not(.circulo):hover::before {
  content:"";
  height: calc(100px * 0.15);
  width: calc(100px * 0.9);
  background: white;
  position: absolute;
}

.casa.x::before,
.quadro.x .casa:not(.x):not(.circulo):hover::before{
  transform: rotate(45deg);
}

.casa.x::after,
.quadro.x .casa:not(.x):not(.circulo):hover::after{
  transform: rotate(-45deg);
}

/* circulo */
.casa.circulo::before,
.casa.circulo::after,
.quadro.circulo .casa:not(.x):not(.circulo):hover::after,
.quadro.circulo .casa:not(.x):not(.circulo):hover::before {
  content:"";
  height: calc(100px * 0.9);
  width: calc(100px * 0.9);
  background: white;
  position: absolute;
  border-radius: 50%;
}

/* placar */
.placar{
  bottom: 35px;
  right: 35px;
  display: flex;
  position: absolute;
  width: 400px;
  height: 60px;
  background: #1c0113 ;
  color: white;
  border-radius: 10px;
  justify-content: center;
  flex-direction: column;
  box-shadow: 6px 6px 25px black ;
}

.placar h1 {
  align-self: center;
  text-transform: uppercase;
  font-size: 1rem;
}

.placar-x{
  border: 1px solid white;
  border-radius: 4px;
  display: flex;
  gap: 70px;
  padding: 0px 10px;
}

.placar-circulo{
  border: 1px solid white;
  border-radius: 4px;
  display: flex;
  gap: 70px;
  padding: 0px 10px;
}

.valor-placar{
  display: flex;
  justify-content: space-evenly;
}

/* mensagem do ganhador */
.ganhador{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  flex-direction: column;
}

.ganhador button {
  font-size: 2.5rem;
  background-color: rgba(179, 18, 55, 1);
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  margin-top: 16px;
  color: white;
}

.ganhador button:hover {
  color: rgba(179, 18, 55, 1);
  background-color: white;
}

.ganhador p {
  color: white;
  font-size: 5rem;
}
